body {
  background: rgb(99, 39, 120)
}

.form-control:focus {
  box-shadow: none;
  border-color: #063970
}

.profile-button {
  background: rgb(253, 253, 253);
  box-shadow: none;
  border: #FF3835 1px solid;
  color: #FF3835;
}

.profile-button:hover {
  background: #FF3835;
  color: white;
}

.profile-button:focus {
  background: #FF3835;
  box-shadow: none
}

.profile-button:active {
  background: #FF3835;
  box-shadow: none
}

.back:hover {
  color: #064F9EFF;
  cursor: pointer
}

.labels {
  font-size: 11px
}

.add-experience:hover {
  background: #064F9EFF;
  color: #fff;
  cursor: pointer;
  border: solid 1px #064F9EFF
}

.success-popup {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  background: linear-gradient(90deg, #ffcccc, #ffe6e6);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  z-index: 1050;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

.success-popup.show {
  opacity: 1;
  visibility: visible;
}

.popup-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.icon-container {
  margin-right: 20px;
}

.success-icon {
  font-size: 50px;
  color: #ff5c5c;
}

.message-container h4 {
  margin: 0;
  color: #b30000;
}

.message-container p {
  margin: 5px 0 0;
  color: #660000;
}

.ss{
  margin-left: auto; /* Align the button to the far right */
  background-color: #ff5c5c;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
}

.btn-close:hover {
  background-color: #cc0000;
}
